* {
    margin: 0px;
}

input {
    width: 150px;
    margin-right: 10px;
}

h1 {
    text-align: center;
    margin: 0px;
    padding: 20px;
}

h2 {
    padding: 20px;
}

header {
    background-color: lightgray;
}

.form {
    margin-left: 20px;
}

.grid {
    margin: 0px 20px 0px 20px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    border: 2px solid black;
}

.grid p {
    margin: 0;
    padding: 10px;
    border: 1px solid black;
}

.label{
    background-color: lightgray;
    font-size: 18px;
    font-weight: bold;
}

#submit {
    width: 100px;
}

#monthly-cost {
    text-align: right;
}